page{
	background-color: #F0EFF4;
}
.container{
	max-width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
}
.p-20{
	padding: 20rpx;
}

.mt-30{
	margin-top: 30rpx;
}
.mt-60{
	margin-top: 60rpx;
}
.mt-90{
	margin-top: 90rpx;
}
.mt-120{
	margin-top: 120rpx;
}